# ==========================================
# DEPENDÊNCIAS
# ==========================================
node_modules/
# ==========================================
# EXPO
# ==========================================
.expo/
.expo-shared/
# ==========================================
# BUILDS
# ==========================================
dist/
build/
# ==========================================
# LOGS
# ==========================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# ==========================================
# VARIÁVEIS DE AMBIENTE
# ==========================================
.env
.env.local
.env.*.local
# ==========================================
# CACHE
# ==========================================
.cache/
*.tsbuildinfo
# ==========================================
# SISTEMA OPERACIONAL
# ==========================================
.DS_Store
Thumbs.db
# ==========================================
# IDEs
# ==========================================
.idea/
PAM_1_ETEC